body {
  background-image: url(perspective.jpg);
  background-size: cover;
  z-index: 0;
  margin-top: 100px;
  font-family: arial narrow;
}

.main {
  background-color: grey;
}
.bloc,
.bloc2,
.bloc3,
.bloc4 {
  width: 100%;
  height: 600px;
  border: 3px solid silver;
  background-color: #2B2B2B;
  margin-bottom: 20px;
}
.bloc2,
.bloc4 {
  background-color: #E6E5E5;
  height: 430px;
}
.bloc3 h3{
color: #E6E5E5;
text-align: center;
border-bottom: 1px solid silver;
height: 60px;
}

.profil  {
  width: 100%;
  border-radius: 100%;
  margin-top: 36px;
  background-color: white;
  border: 4px solid #08AEAC;
}
.pic {
  width: 230px;
  margin: auto;
  height: 230px;
  margin-bottom: 20px;
}

h3 {
  color: #08AEAC;
  font-weight: 900;
  font-size: 36px;

}
.name {
  text-align: center;
  height: 150px;
  padding: auto;
  border-bottom: 1px solid silver;

}
.name p{
  font-size: 20px;
  color: #DAD5CF;
  font-weight: 100;
}
.list li,
.list2 li{
  list-style-image: url(pucee.png);
  font-size:20px;
  color: #08AEAC;
  font-weight: 600;
  margin: 20px 0px 20px 0px;

}

.light {
  color: #234B6F;
  font-weight: 100;
}
.bloc2 h3,
.bloc4 h3 {
  text-align: center;
  height: 60px;
  border-bottom: 1px silver solid;
}
.list2 li{
  color: #E6E5E5;
}
